[submodule "OSMan"]
	path = OSMan
	url = https://github.com/omar-3/OSMan
[submodule "Utilities"]
	path = Utilities
	url = https://github.com/SmartMobilityAlgorithms/Utilities
[submodule "utilities"]
	path = utilities
	url = https://github.com/SmartMobilityAlgorithms/utilities.git
